<div class="page-header">
  <h1>Edit Section: <%= @section.name %></h1>
</div>

<%= render 'form' %>

<% content_for(:adminbar) do %>
  <li><%= link_to 'Cancel', @section %></li>
  <li>
    <%= link_to @section, method: :delete, data: { confirm: 'Are you sure?' } do %>
      Delete <%= @section.name %>
    <% end %>
  </li>
<% end %>
