

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @section.number %>
</p>

<p>
  <% if @section.chapter %>
    <strong>Chapter:</strong>
    <%= @section.chapter.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
