<div class="page-header">
  <h1>
    <%= @lesson.name %>
  </h1>
</div>

<p>
  <% if @lesson.section %>
    <strong>Section:</strong>
    <%= @lesson.section.name %>
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @lesson.content %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
