

<p>
  <strong>Name:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @lesson.number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @lesson.content %>
</p>

<p>
  <strong>Section:</strong>
  <%= @lesson.section %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
