<% content_for(:navbar) do %>
  <% if @next_lesson %>
    <li>
      <%= link_to @next_lesson do %>
        Next Lesson: <%= @next_lesson.name %>
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="page-header">
  <h1>
    <% if @lesson.section %>
      <% if @lesson.section.chapter %>
        <%= @lesson.section.chapter.name %> |
      <% end %>
      <%= @lesson.section.name %> |
    <% end %>
    <%= @lesson.name %>
  </h1>
</div>

<div>
  <%= @lesson.content %>
</div>

<% content_for(:adminbar) do %>
  <li>
    <%= link_to edit_lesson_path(@lesson) do %>
      Edit <%= @lesson.name %>
    <% end %>
  </li>
<% end %>
