<!DOCTYPE html>
<html>
<head>
  <title>LHTBG | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <% if content_for?(:navbar) %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>
      <%= link_to 'Learn How To Brogram', '/', class: 'navbar-brand' %>
    </div>

    <% if content_for?(:navbar) %>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <%= yield(:navbar) %>
      </ul>
    </div>
    <% end %>
  </div>
</nav>

<div class="container">
  <p id="notice"><%= flash[:notice] %></p>
  <%= yield %>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adminbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'ADMIN PORTAL', '/', class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="adminbar-collapse">
      <ul class="nav navbar-nav">
        <%= yield(:adminbar) %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if params[:controller] == 'chapters' %>">
          <%= link_to 'Chapters', chapters_path %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'sections' %>">
          <%= link_to 'Sections', sections_path %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'lessons' %>">
          <%= link_to 'Lessons', lessons_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>
